@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: left 0%;
    width: 100%;
  }
}
body {
  background-color: black;
}

h3 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  background-color: black;
  font-size: 70px;
  color: rgb(236, 84, 38);
  animation-duration: 5s;
  animation-name: slidein;
}
img {
  display: block;
  margin: auto;
  width: 100%;
  height: 250px;
}

.header {
  display: flex;
  flex-direction: column;
}
.bar {
  margin: 10px 0px;
  background-color: white;
  padding: 0px;
  overflow: hidden;
}
.barra {
  display: flex;

  color: rgb(236, 84, 38);
  border: none;
  cursor: pointer;
  list-style-type: none;
  height: 16px;
  justify-content: space-around;
}
li a {
  padding: 16px;
  color: rgb(236, 84, 38);
  background-color: white;
  text-decoration: none;
}
li a:hover {
  background-color: black;
  color: rgb(236, 84, 38);
}

.active {
  border: 1px solid black;
  padding: 16px;
  color: white;
  background-color: rgb(236, 84, 38);

  text-decoration: none;
}
.prod {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.fotoProd {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-style: inset;
}
p {
  text-align: center;
}

.blanco {
  display: flex;
  margin: 20px;
  width: 200px;
  height: 300px;
  flex-direction: column;
  color: rgb(236, 84, 38);
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgb(236, 84, 38);
}
#elementos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
