@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: left 0%;
    width: 100%;
  }
}
body {
  background-color: black;
}

#titulo {
  font-family: "Amatic SC", cursive;
  text-align: center;
  background-color: black;
  font-size: 70px;
  color: rgb(236, 84, 38);
  animation-duration: 5s;
  animation-name: slidein;
}
img {
  display: block;
  margin: auto;
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

.header {
  display: flex;
  flex-direction: column;
}
.bar {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 20px;
  margin: 10px 0px;
  background-color: white;
  padding: 0px;
  overflow: hidden;
}
.barra {
  display: flex;

  color: rgb(236, 84, 38);
  border: none;
  cursor: pointer;
  list-style-type: none;
  height: 16px;
  justify-content: space-around;
}
li a {
  padding: 16px;
  color: rgb(236, 84, 38);
  background-color: white;
  text-decoration: none;
}
li a:hover {
  background-color: black;
  color: rgb(236, 84, 38);
}

.active {
  border: 1px solid black;
  padding: 16px;
  color: white;
  background-color: rgb(236, 84, 38);

  text-decoration: none;
}
.prod {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.fotoProd {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-style: inset;
}
p {
  text-align: center;
}

.blanco {
  display: flex;
  margin: 20px;
  width: 200px;
  height: 310px;
  flex-direction: column;

  color: rgb(236, 84, 38);
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgb(236, 84, 38);
}
#elementos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
input {
  display: block;
  margin: auto;
  background-color: white;
}
button {
  display: block;
  margin: auto;
}
.naranja {
  color: rgb(236, 84, 38);
  background-color: white;
  margin: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.desaparece {
  display: none;
}

.gracias {
  color: black;
  background-color: rgb(236, 84, 38);
  margin: 50px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 50px;
}
li {
  list-style-type: none;
}

label {
  display: block;
}
#enviar {
  display: block;
  margin: 10px auto;
}
#formulario {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: auto;
  padding: auto;
  width: 300px;
  background-color: rgb(236, 84, 38);
  color: white;
}
#form {
  margin: auto;
  padding: 20px;
}
.footer {
  background-color: white;
  text-align: left;
  padding: 2px;
  color: rgb(236, 84, 38);
  margin: 20px 30%;
}
.foot {
  color: white;
  background-color: rgb(236, 84, 38);
  text-align: center;
}

.f {
  background-color: white;
  float: none;
}
.lunes {
  font-style: normal;
  font-weight: solid;
  color: blanchedalmond;
}

.negrita {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: solid;
}
.negritaCeleste {
  color: rgb(66, 106, 180);
}
.descuento {
  text-align: center;
  background-color: rgb(236, 84, 38);
}
